In [16]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
df = pd.read_csv('electricity_consumption_based_weather_dataset.csv')
df.head()

         date  AWND  PRCP  TMAX  TMIN  daily_consumption
0  2006-12-16   2.5   0.0  10.6   5.0           1209.176
1  2006-12-17   2.6   0.0  13.3   5.6           3390.460
2  2006-12-18   2.4   0.0  15.0   6.7           2203.826
3  2006-12-19   2.4   0.0   7.2   2.2           1666.194
4  2006-12-20   2.4   0.0   7.2   1.1           2225.748

In [17]:
df.drop(columns='date',inplace=True)
df.head()

   AWND  PRCP  TMAX  TMIN  daily_consumption
0   2.5   0.0  10.6   5.0           1209.176
1   2.6   0.0  13.3   5.6           3390.460
2   2.4   0.0  15.0   6.7           2203.826
3   2.4   0.0   7.2   2.2           1666.194
4   2.4   0.0   7.2   1.1           2225.748

In [18]:
X = df[["AWND", "PRCP", "TMAX", "TMIN"]]
y = df["daily_consumption"]

In [19]:
X = X.fillna(X.mean())

In [20]:
X = X.to_numpy()
mu = X.mean(axis=0)
sigma = X.std(axis=0)
X = (X - mu) / sigma

In [21]:
X = np.hstack((np.ones((X.shape[0], 1)), X))

In [22]:
df["TEMP_RANGE"] = df["TMAX"] - df["TMIN"]

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
from LinearRegression import LinearRegressionGD
model = LinearRegressionGD(learning_rate=0.001)